<%= render partial: 'shared/page_title', locals: { page_title: '' } %>

<main class="main">
  <div class="wrap">
    <div class="main__inner flex">
      <!-- side list -->
      <%= render partial: 'shared/side_list', locals: { categories: @categories } %>
      <div class="main__body">
        <!-- おすすめの商品 -->
        <section class="sect">
          <h2 class="sect__heading">おすすめの商品</h2>
          <div class="list flex">
            <% @recommend_items.each do |item| %>
            <%= link_to '#', class: 'contents' do %>
            <figure class="list__item">
              <%= image_tag 'img_item.webp' %>
              <figcaption><%= item.name %></figcaption>
              <p>&#165;<%= item.price %></p>
            </figure>
            <% end %>
            <% end %>
          </div>
        </section>

        <!-- 新着商品 -->
        <section class="sect new">
          <h2 class="sect__heading">新着商品</h2>
          <div class="list small flex">
            <% @new_items.each do |item| %>
            <%= link_to '#', class: 'contents' do %>
            <figure class="list__item">
              <%= image_tag 'img_item.webp' %>
              <figcaption><%= item.name %></figcaption>
              <p>&#165;<%= item.price %></p>
            </figure>
            <% end %>
            <% end %>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
