<%= render partial: 'shared/page_title', locals: { page_title: 'ログイン' } %>

<div class="wrap">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |user| %>
  <h2 class="form__heading">ログイン</h2>
  <div class="form__item">
    <%= user.email_field :email, autofocus: true, autocomplete: "email", class: 'form__input', placeholder: 'メールアドレス' %>
  </div>
  <div class="form__item">
    <%= user.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form__input', placeholder: 'パスワード' %>
  </div>
  <% if devise_mapping.rememberable? %>
  <div class="form__item">
    <%= user.check_box :remember_me %>
    <%= user.label :remember_me, '次回から自動でログインする', class: 'form__label' %>
  </div>
  <% end %>
  <div class="form__item">
    <%= user.submit "ログイン", class: 'form__input--submit' %>
  </div>
  <%= render "devise/shared/links" %>
  <% end %>
</div>
